body {
  background-color: linen;
}

h1 {
  color: teal;
}

p {
  color: teal;
}

.bigbox {
  display: block;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  width: 83.5%;
  margin-left: auto;
  margin-right: auto;
}

#headerbox {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  width: 80%;
  height: 400px;
}

.box {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  width: 80%;
}

.smallbox {
  margin: 10px;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  width: 80%;
}
